{% extends "master.html" %}
{% load static %}

{% block page_title %}
    Django Blog
{% endblock page_title %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'style_files/css/post.css' %}">
{% endblock custom_css %}

{% block body %}
<!-- Need more updates -->
    <div id="head__title">
        <h2 id="post__title">
            {{ post.title }}
        </h2>
        <p id="edit__by">
            edited by { <span id="auther">{{ post.auther }}</span> }
        </p>
    </div>
    <div id="body__post">
        <article id="post__body">
            <img id="img__src" src="{% static 'media/1/Ilovedjango.png' %}" alt="post img">
            <p style="margin-top: 10px;">
                {{ post.body }}
            </p>
        </article>
    </div>

{% endblock body %}