{% extends "master.html" %}
{% load static %}

{% block page_title %}
    Django Blog
{% endblock page_title %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'style_files/css/post.css' %}">
{% endblock custom_css %}

{% block body %}
<!-- Need more updates -->
    <div id="head__title">
        <h2 id="post__title">
            Threads in Python
        </h2>
        <p id="edit__by">
            edited by { <span id="auther">H4ck3r0x90</span> }
        </p>
    </div>
    <div id="body__post">
        <article id="post__body">
            <img id="img__src" src="{% static 'media/1/Ilovedjango.png' %}" alt="post img">
            <p style="margin-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a sem augue. Sed finibus sapien sed mi interdum accumsan. Sed nec dui non ante elementum suscipit sit amet non leo. Phasellus elementum leo sit amet placerat imperdiet. Pellentesque non mauris eu enim rutrum maximus quis sit amet ipsum. In hac habitasse platea dictumst. Aliquam sit amet nisl sed nisl faucibus fermentum a sit amet tortor. Pellentesque vel ligula vitae dui iaculis laoreet. Mauris sed condimentum dui. Proin nec consequat dolor.
                Etiam a leo purus. Nam laoreet vestibulum ex id lacinia. Aenean vel finibus nisi. Morbi in porta justo, sit amet rutrum massa. Mauris blandit ut dolor vitae commodo. Pellentesque at tortor sed magna vestibulum tincidunt. Vestibulum suscipit, velit sit amet condimentum faucibus, leo ipsum porta dui, ullamcorper tempus metus leo ultricies justo.
                Cras gravida, orci nec dignissim tempus, turpis est suscipit ante, id fermentum libero enim a quam. Etiam convallis sem eu mauris dapibus accumsan. Morbi euismod nibh vel mi tristique pretium. Nullam tempor eget dui id iaculis. Nunc vel purus et enim convallis rutrum. Aliquam erat volutpat. Duis sodales quam eu fringilla cursus. Quisque elit magna, vehicula sed gravida ac, eleifend quis quam. In facilisis semper velit et ullamcorper. Duis semper volutpat odio, id maximus metus consequat ac. Duis ut tincidunt erat. Proin egestas metus sapien.
            </p>
        </article>
    </div>

{% endblock body %}