{% extends "master.html" %}
{% load static %}

{% block page_title %}
    Author
{% endblock page_title %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'style_files/css/register.css' %}">
{% endblock custom_css %}

{% block body %}
   
    <div id="reg__form">
        <form action="" method="post">
            {% csrf_token %}
            <div id="input__table">
                <table>
                    <tr>
                        <td><label for="first">Name</label></td>
                        <td>{{ form.firstname }}</td>
                        <td>{{ form.lastname }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td colspan="2">
                            {{ form.username }}
                        </td>
                            {{ form.username.errors }}
                    </tr>
                    <tr>
                        <td>{{ form.email.label_tag }}</td>
                        <td colspan="2">
                            {{ form.email }}
                        </td>
                        {{ form.email.errors }}
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                        <td>{{ form.repassword }}</td>
                    </tr>
                </table>
            </div>
            <input type="submit" class="btn btn-dark" value="Register">
        </form>
    </div>

{% endblock body %}



