{% extends "master.html" %}
{% load static %}

{% block page_title %}
    Login
{% endblock page_title %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'style_files/css/test.css' %}">
{% endblock custom_css %}

{% block body %}

    <div id="login__form">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                <div>
                    {{ form.username }}
                </div>
                {{ form.username.errors }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
                {{ form.password.errors }}
            </div>
            <div class="form-check">
                {{ form.remember }}
                {{ form.remember.label_tag }}
            </div>
            <input type="submit" class="btn btn-success submit__log" value="Submit">
        </form>
    </div>

{% endblock body %}