body {
    background-color: #302929;
}

a{
    color: #6610f2;
}

a:hover{
    text-decoration: none;
    color: #6610f2;
}

#login__form{
    border: 2px;
    border-style: dashed;
    border-color: black;
    border-radius: 9px;
    width: 600px;
    margin-left: 250px;
    margin-top: 50px;
    padding: 15px 15px 15px 15px;
    background-color: #606060;
}

.log__input{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.submit__log{
    width: 100px;
    margin-left: 225px;
    border: 2px;
    border-style: groove;
    border-color: black;
    color: black;
}

.submit__log:hover{
    border: 2px;
    border-style: groove;
    border-color: black;
}