body {
    background-color: #302929;
}

a{
    color: #6610f2;
}

a:hover{
    text-decoration: none;
    color: #6610f2;
}

#login__form{
    border: 2px;
    border-style: dashed;
    border-color: black;
    border-radius: 9px;
    width: 600px;
    margin-left: 250px;
    margin-top: 50px;
    padding: 15px 15px 15px 15px;
    background-color: #606060;
}

label{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.mb-3 input{
    width: 570px;
    height: 40px;
    color: #302929;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding-left: 12px;
    border-style: none;
    border-radius: 5px;
}

.form-check{
    padding-left: 0px;
}

.form-check label{
    font-size: 15px;
}

.form-check input{
    width: 12px;
    height: 12px;
    position: relative;
    left: 0px;
}

input:focus{
    outline: none;
    box-shadow: 0 0 10px rgb(2, 25, 31);
}

.submit__log{
    width: 100px;
    margin-left: 225px;
    border: 2px;
    border-style: groove;
    border-color: black;
    color: black;
}

.submit__log:hover{
    border: 2px;
    border-style: groove;
    border-color: black;
}